@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 7px 10px;
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .bg-faded {
        background: #fff !important;
    }
    .navbar-light .nav-link .navbar-nav {
        color: #17ee54
    }
}